footer.footfoot {color: rgba(255, 255, 255, 0.64); letter-spacing: -0.02rem; font-weight: 500; margin-top: 85px;}
footer .txtBox {width: 100%; margin: 0 auto; font-weight: 500;}
footer .txtBox .top {font-size: 12px;}
footer .txtBox .top h4 {margin: 7px auto 11px;}
footer .txtBox .bottom {font-size: 10px;}
footer .txtBox .bottom p {line-height: 14px;}