.closetDetail-container {padding-top: 46px; overflow: hidden; background: #fff; padding-bottom: 100px;}
.closetDetail-container .closetDetail-topBox{ margin: 8px 2.5% 0;}
.closetDetail-container .closetDetail-topBox .group{display: inline-block; background:#FF4187; border-radius: 10px; text-align: center; color: #fff; align-content: center; padding: 3.5px 10px;; font-size: 9px; font-weight: 100;}
.closetDetail-container .closetDetail-topBox .text{font-size: 18px; margin-top: 5px; white-space: pre-wrap;}
.closetDetail-container .closetDetail-topBox .price{font-size: 13px; color: #5D5D5D; font-weight: 300; margin-top: 2px; display: flex; justify-content: space-between; align-content: center; align-items: center;}
.closetDetail-container .closetDetail-topBox .price .heart{position: relative; align-content: center; cursor: pointer; margin-right: 18px;}
.closetDetail-container .closetDetail-topBox .price .heart svg{width: 18px; height: 18px; color: #000 !important;}
.closetDetail-container .closetDetail-topBox .price .heart svg:nth-child(2){fill: #FF4187; position: absolute; top: 0; left: 0;}

.closetDetail-container .closetDetail-topBox .closetDetail-imgBox{margin-top: 13px; position: relative;}
.closetDetail-container .closetDetail-topBox .closetDetail-imgBox img{width: 100%;}
.closetDetail-container .closetDetail-topBox .closetDetail-imgBox svg{position: absolute; right: 0; bottom: 0; height: 18px; width: 18px; opacity: 0.58; margin: 16px;}

.closetDetail-container .closetDetail-reviewBox{margin-top: 57px;}
.closetDetail-container .closetDetail-reviewBox > p{margin: 0 0 10px 2.5%; font-size: 14px;}
.closetDetail-container .closetDetail-reviewBox .swiper{ padding-left: 2.5%;}
.closetDetail-container .closetDetail-reviewBox .swiper .swiper-slide{width: 33% !important;}
.closetDetail-container .closetDetail-reviewBox .swiper .reviewImgBox img{width: 100%;}
.closetDetail-container .closetDetail-reviewBox .swiper .reviewTextBox{margin: 6px 5px 0 ;}
.closetDetail-container .closetDetail-reviewBox .swiper .reviewTextBox p{font-size: 11px;  overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; color: #484848;}
