.notif-bell {
  position: relative;
  font-family: 'Pretendard' , sans-serif;
}
/* src/components/Notification/NotificationBell.css */
.bell-btn {
  position: relative;    /* badge 기준 컨테이너 */
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bell-btn .badge {
  position: absolute;
  top: 5%;
  right: 12%;
   /* 아이콘 꼭짓점에 배지 중앙을 맞춤 */
  min-width: 14px;
  height: 14px;
  background-color: #FF4187;
  color: #fff;
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 0;
  z-index: 9999;
}

