/* src/components/TypeScript/SongSelector.css */

.song-selector-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 0px 0 rgba(255, 255, 255, 0.5),
    inset 0 0px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
}








.song-selector-overlay .song-selector {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 0px 0 rgba(255, 255, 255, 0.5),
    inset 0 0px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  max-width: 768px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px) {
.slider-box {
  padding: 4% 10% !important; /* 기존 10% → 5%로 줄이기 */
  overflow: hidden; /* 밖으로 나가지 않도록 설정 */
}
}

.song-selector-overlay .song-selector-inner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
    color: #fff;
    max-height: 500px;
    
}



.song-selector-overlay .bottom-btnBox {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.song-selector-overlay .bottom-btnBox .select-btn {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(62, 61, 86, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 47px;
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 0px 0 rgba(255, 255, 255, 0.5),
    inset 0 -0.5px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
    padding: 17px;
}


.song-selector-overlay .bottom-btnBox .close-btn {
      color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    position: fixed;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 47px;
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 0px 0 rgba(255, 255, 255, 0.5),
    inset 0 -0.5px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
    padding: 17px;
}



.song-selector-overlay .titleBox {
  width: 100%;
  margin-bottom: 46px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}











.song-swiper {
    padding: 0 10%;
  overflow: visible !important;
}
.song-slide {
  width: 80%;           
  overflow: visible;  
}

.song-slide .slider-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 16px 33px 16px;
  transition: background 0.3s, box-shadow 0.3s;
}

/* 활성 슬라이드(.swiper-slide-active)의 박스 색상·그림자 변경 */
.song-swiper .swiper-slide-active .slider-box {
  background: #fff;
  box-shadow: 0 0 20px rgba(255, 65, 135, 1);
}


.song-slide .slider-box .imgBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-selector .slide-cover {
  object-fit: contain;
  margin-bottom: 4px;
  padding: 20px 10px 0px 10px;
  width: 100%;
  height: auto;
}


.song-selector .slide-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  padding: 0 8%;
  margin-bottom: 14px;
}

.song-selector .slide-title {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 3px;
  color: #000;
}

.song-selector .slide-artist {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.69);
}


.song-selector .swiper-button-next,
.song-selector .swiper-button-prev {
  color: #333;
}

.song-selector .swiper-pagination {
  margin-top: 8px;
}

.song-selector .swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
}

.song-selector .swiper-pagination-bullet-active {
  background: #333;
}
