.main-page .Tabs {
    background: #121212;
    height: 45px;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.22);
    margin-bottom: 16px;
    position: sticky;
    top: 46px;
    z-index: 10;
}

.main-page {
    position: relative;
    background: #121212;
    overflow: visible;
    min-height: 1400px;
}

.main-page__content {
    padding-bottom: 111px;
}

/* 챗봇 */

.chatBotBox {
    display: inline-block;
    position: fixed;
  bottom: 103px;  /* 103px ÷ 812px × 100 */
  right: 5.3%;    /* 20px  ÷ 375px × 100 */
    z-index: 9999;
    width: 60px;
    height: 60px;
}
@media (min-width: 768px) {
  .chatBotBox {
    right: calc((100vw - 768px) / 2 + 2%);
  }
}

.chatBotBox .chatBotBtn {
    width: 100%;
    height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chatBotBox .chatBotBtn img {
    width: 32px;
    height: 36px;
    object-fit: contain;
}


@media (min-width: 768px) {
  .chatBotBox {
    left: calc(50% + 384px - 76px)
  }
}