.my-posts-page {padding: 0 2.5%; padding-bottom: 120px; min-height: 100vh; background: #fff; padding-top: 61px; box-sizing: border-box;}


.entry-header .imgBox {
    width: 32px !important;
    height: 32px !important;
    flex-shrink: 0; /* 추가 */
    border-radius: 50%;
    overflow: hidden;
    box-sizing: content-box;

    margin-right: 8px;
    border: 1px solid #ff4187;
}

.entry-header .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-date {
    display: none;
}

.entry-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.entry-user-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.entry-username {
    font-size: 14px;
    font-weight: 500;
}

.entry-timeago {
    font-size: 11px;
    color: #888;
    vertical-align: middle;
    margin-top: 3px;
}

.title-inner    {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.item-category {
    background: #ff4187;
    color: #fff;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 10px;
    font-family: 'Pretendard', sans-serif;
}

.item-image {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    background: #fafafc;
}


.post-item {
    background: #fff;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 5%;
    box-sizing: border-box;
    margin-bottom: 8px;
    cursor: pointer;
}








.item-text {
    margin-bottom: 15px;
}



/* Swiper 전체 컨테이너 */
.ve-swiper {
  margin-bottom: 1rem;
}

/* Swiper 각 슬라이드 */
.ve-swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 슬라이드 이미지 스타일 */
.ve-image {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  background: #fafafc;
}

/* Swiper 페이지네이션(점) 스타일 커스텀 */
.my-posts-page .swiper-pagination-bullet {
  background: #ddd;
  opacity: 1;
  width: 8px;
  height: 8px;
  margin: 0 3px !important;
  transition: background 0.2s;
}

.my-posts-page .swiper-pagination-bullet-active {
  background: #ff2979;
}




